---
- name: Debian - Ensure haproxy apt repo is added.
  apt_repository:
    repo: "deb {{ haproxy_repo }} {{ ansible_distribution_release }} main"
    state: present
    update_cache: yes

- name: Debian - Ensure HAProxy is installed.
  apt:
    name: "{{ haproxy_package_name }}"
    default_release: "{{ ansible_distribution_release }}"
